
main {
  margin: auto;
  margin-top: 5%;
  width: 470px;
  text-align: center;
}

#form {
  position: relative;
  width: 500px;
  margin-top: 50px;
}

input {
  background: transparent;
  outline: none;
  width: 470px;
  max-width: 470px;
  height: 50px;
  border-style: solid;
  border-color: dimgray;
  border-width: 1px;
  padding-left: 16px;
}

#name, #email {
 border-bottom: none;
}

textarea {
  background: transparent;
  outline: none;
  width: 470px;
  height: 120px;
  padding: 15px;

  border-style: solid;
  border-color: dimgray;
  border-width: 1px;
}

#submit {
  width: 502px;
}

input:hover, textarea:hover {
  background: rgba(255,255,255,0.2);
  color: black;
}

@media (max-width: 500px) {
  main {
    width: 300px;
  }
  #form {
    width: 300px;
  }
  input {
    width: 300px;
  }
  textarea {
    width: 300px;
  }
  #submit {
    width: 300px;
  }

}
