main {
  margin-top: 15px;
}

/*LEFT SIDE*/

#left {
  border-right: solid 1px black;
}

/*gets rid of border between left and right section in mobile layout since they are stacked in that layout*/

@media (max-width: 767px) {
  #left {
    border-right: none;
  }
}

/*PORTRAIT AND ABOUT TEXT*/

#profile-pic {
  border-radius: 50%;
  width: 30%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/*SKILL BARS*/

#skills {
  margin-top: 20px;
}

.progress {
  position: relative;
  background-color: transparent !important;
}

.progress-type {
  position: absolute;
  left: 5px;
}

.gray-background {
  background-color: rgba(81, 11, 11, 0.8) !important;
}

/*MAPS*/

#maps {
  filter: grayscale(70%);
  margin-top: 35px;
  width: 100% !important;
}

/*FONT SIZES AND MARGINS*/

#aboutpage h2, #aboutpage h3, ul, li, p {
  font-size: 12px;
  margin-top: 0;
}

#aboutpage h1 {
  font-size: 16px;
}
