
main {
  margin-top: 15px;
}

#profile-pic {
  border-radius: 50%;
  width: 30%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#about {
  border-right: solid 1px black;
}

@media (max-width: 767px)) {
  #about {
    border-right: none;
  }
  #timeline {
    border-left: solid 1px black;
  }
}

main ul {
  list-style: none;
  text-decoration: none;
  padding-left: 0;
}

#skills {
  margin-top: 20px;
}

#about h1, #timeline h1, #timeline h2, #timeline h3, ul, li, p {
  font-size: 12px;
  margin-top: 0;
}

/*
#timeline p, #timeline h2 {
  border-bottom: 1px solid darkgray;
}
*/

#about h1, #timeline h1 {
  font-size: 16px;
}

.progress {
  position: relative;
  background-color: transparent !important;
}


.progress-type {
  position: absolute;
  left: 5px;
}

#maps {
  filter: grayscale(70%);
  margin-top: 35px;
  width: 100% !important;
}

.gray-background {
  background-color: rgba(81, 11, 11,0.8)!important;
}
