/*PORTFOLIO.HTML*/

/*MAIN*/

#portfolio {
  margin-top: 20px;
}

#portfolio a {
  text-decoration: none;
  color: black;
}

/*PROJECTS*/

#project1, #project2 {
  margin-bottom: 20px;
  text-align: center;
}

#project1pic, #project2pic {
  width: 100%;
}

/*ISOMETRIC.HTML*/

/*GIF*/

#isoconstruction {
  padding-top: 5em;
  width: 100%;
}

/*ICELAND.HTML*/

/*GALLERY HEADING*/

#gallery h1 {
  text-align: center;
}

/*GALLERY IMAGES*/

#gallery ul li {
  list-style: none;
  text-decoration: none;
  margin-top: 10px;
}

.gallery-image {
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
}

#gallery ul li a:hover {
  opacity: 0.8;
}
