/*

.wrapper {
  display: grid;
  grid-template-rows: 1fr 8fr 1fr;
  /*  grid-gap: 1em; */


/*
.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items:stretch;
  align-items: stretch;
}
*/

/*

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (orientation:portrait){
  .main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

*/
